
*.v2
Conditional Statements - Lab/.vs/ConditionalStatements-Lab/v16/.suo
*.json
*.dll
*.exe
*.pdb
*.props
*.targets
*.cache
*.txt
*.sln
ConditionalStatements-Exercise/ConditionalStatements-Exercise/01.SumSeconds/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/02.BonusScore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/03.SpeedInfo/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/04.MetricConverter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/05.Time+15Minutes/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/06.GodzillaVs.Kong/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/07.WorldSwimmingRecord/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/08.Scholarship/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/01.PipesInPool/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/02.SleepyTomCat/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/03.Harvest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/04.TransportPrice/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/05.Firm/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/06.Pets/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/07.FlowerShop/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/08.FuelTank-Part2/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/08.FuelTank/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/.vs/ConditionalStatements-Exercise/v16/.suo
ConditionalStatements-Exercise/.vs/ConditionalStatements-Exercise/v16/.suo
ConditionalStatements-Exercise/ConditionalStatements-Exercise/01.SumSeconds/obj/Debug/netcoreapp3.1/01.SumSeconds.AssemblyInfo.cs
