
*.v2
Conditional Statements - Lab/.vs/ConditionalStatements-Lab/v16/.suo
*.json
*.dll
*.exe
*.pdb
*.props
*.targets
*.cache
*.txt
*.sln
ConditionalStatements-Exercise/ConditionalStatements-Exercise/01.SumSeconds/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/02.BonusScore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/03.SpeedInfo/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/04.MetricConverter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/05.Time+15Minutes/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/06.GodzillaVs.Kong/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/07.WorldSwimmingRecord/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/08.Scholarship/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/01.PipesInPool/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/02.SleepyTomCat/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/03.Harvest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/04.TransportPrice/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/05.Firm/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/06.Pets/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/07.FlowerShop/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/08.FuelTank-Part2/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-MoreExercises/08.FuelTank/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConditionalStatements-Exercise/ConditionalStatements-Exercise/.vs/ConditionalStatements-Exercise/v16/.suo
ConditionalStatements-Exercise/.vs/ConditionalStatements-Exercise/v16/.suo
ConditionalStatements-Exercise/ConditionalStatements-Exercise/01.SumSeconds/obj/Debug/netcoreapp3.1/01.SumSeconds.AssemblyInfo.cs
FirstStepsInCodingExercices/.vs/FirstStepsInCodingExercices/v16/.suo
FirstStepsInCodingExercices/001.TrapeziodArea/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/002.TriangleArea/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/003.CelsiusToFahrenheit/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/004.VegetableMarket/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/005.TrainingLab/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/006.Fishland/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/007.HousePainting/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/008.CircleAreaAndPerimeter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/009.WeatherForecast/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/010.WeatherForecast2/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/02.RadiansToDegrees/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/03.DepositCalculator/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/04.Vacationbookslist/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/05.BirthdayParty/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/06.CharityCampaign/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/07.FruitMarket/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/08.FishTank/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FirstStepsInCodingExercices/MoneyConverter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Greetings/.vs/Greetings/v16/.suo
Greetings/Greetings/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Greetings/Greetings2/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Greetings/Greetings2/obj/Debug/netcoreapp3.1/Greetings2.AssemblyInfo.cs
Greetings/Greetings/obj/Debug/netcoreapp3.1/Greetings.AssemblyInfo.cs
Greetings/ConcatenateData/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Greetings/ConcatenateData/obj/Debug/netcoreapp3.1/ConcatenateData.AssemblyInfo.cs
ForLoop-Lab/.vs/ForLoop-Lab-Exercise/v16/.suo
ForLoop-Lab/001.NumbersEndingIn7/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/002.HalfSumElement/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/003.Odd-EvenPosition/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/005.DivideWithoutRemainder/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/005.DivideWithoutRemainder/obj/Debug/netcoreapp3.1/005.DivideWithoutRemainder.AssemblyInfo.cs
ForLoop-Lab/006.Salary/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/006.Salary/obj/Debug/netcoreapp3.1/006.Salary.AssemblyInfo.cs
ForLoop-Lab/02.NumbersNTo1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/02.NumbersNTo1/obj/Debug/netcoreapp3.1/02.NumbersNTo1.AssemblyInfo.cs
ForLoop-Lab/03.Numbers1ToNWithStep3/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/04.EvenPowersOf2/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/04.EvenPowersOf2/obj/Debug/netcoreapp3.1/04.EvenPowersOf2.AssemblyInfo.cs
ForLoop-Lab/04.Histogram/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/05.CharacterSequence/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/06.VowelsSum/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/07.SumNumbers/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/08.NumberSequence/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/09.LeftAndRightSum/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/10.OddEvenSum/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/10.OddEvenSum/obj/Debug/netcoreapp3.1/10.OddEvenSum.AssemblyInfo.cs
ForLoop-Lab/09.LeftAndRightSum/obj/Debug/netcoreapp3.1/09.LeftAndRightSum.AssemblyInfo.cs
ForLoop-Lab/08.NumberSequence/obj/Debug/netcoreapp3.1/08.NumberSequence.AssemblyInfo.cs
ForLoop-Lab/07.SumNumbers/obj/Debug/netcoreapp3.1/07.SumNumbers.AssemblyInfo.cs
ForLoop-Lab/11.CleverLily/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/11.CleverLily/obj/Debug/netcoreapp3.1/11.CleverLily.AssemblyInfo.cs
ForLoop-Lab/ConsoleApp1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ForLoop-Lab/ConsoleApp1/obj/Debug/netcoreapp3.1/01.NumbersFrom1To100.AssemblyInfo.cs
ForLoop-Lab/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfo.cs
ForLoop-Lab/06.VowelsSum/obj/Debug/netcoreapp3.1/06.VowelsSum.AssemblyInfo.cs
ForLoop-Lab/05.CharacterSequence/obj/Debug/netcoreapp3.1/05.CharacterSequence.AssemblyInfo.cs
ForLoop-Lab/04.Histogram/obj/Debug/netcoreapp3.1/004.Histogram.AssemblyInfo.cs
ForLoop-Lab/04.Histogram/obj/Debug/netcoreapp3.1/04.Histogram.AssemblyInfo.cs
ForLoop-Lab/003.Odd-EvenPosition/obj/Debug/netcoreapp3.1/003.Odd-EvenPosition.AssemblyInfo.cs
ForLoop-Lab/002.HalfSumElement/obj/Debug/netcoreapp3.1/002.HalfSumElement.AssemblyInfo.cs
ForLoop-Lab/001.NumbersEndingIn7/obj/Debug/netcoreapp3.1/001.NumbersEndingIn7.AssemblyInfo.cs
